Android/Demo/.gradle
Android/Demo/.idea
Android/Demo/build
iOS/Demo/TICDemo/Pods/Pods.xcodeproj/xcuserdata
iOS/Demo/TICDemo/Pods
macOS/Demo/TICDemo_Mac/Pods
iOS/Demo/TICDemo/TICDemo.xcodeproj/xcuserdata
iOS/Demo/TICDemo/TICDemo.xcworkspace/xcuserdata
macOS/Demo/TICDemo_Mac/TICDemo_Mac.xcodeproj/xcuserdata
macOS/Demo/TICDemo_Mac/TICDemo_Mac.xcworkspace/xcuserdata
macOS/Demo/TICDemo_Mac/TICDemo_Mac.xcworkspace/xcshareddata
*.iml
local.properties
Podfile.lock
iOS/Demo/TICDemo/TICDemo.xcworkspace/xcshareddata
iOS/Demo/TICDemo/TICDemo.xcodeproj/project.xcworkspace/xcshareddata
