PaaS/Source/Android/Demo/.gradle
PaaS/Source/Android/Demo/.idea
PaaS/Source/Android/Demo/build
PaaS/Source/iOS/Demo/TICDemo/Pods/Pods.xcodeproj/xcuserdata
PaaS/Source/iOS/Demo/TICDemo/Pods
PaaS/Source/macOS/Demo/TICDemo_Mac/Pods
PaaS/Source/iOS/Demo/TICDemo/TICDemo.xcodeproj/xcuserdata
PaaS/Source/iOS/Demo/TICDemo/TICDemo.xcworkspace/xcuserdata
PaaS/Source/macOS/Demo/TICDemo_Mac/TICDemo_Mac.xcodeproj/xcuserdata
PaaS/Source/macOS/Demo/TICDemo_Mac/TICDemo_Mac.xcworkspace/xcuserdata
PaaS/Source/macOS/Demo/TICDemo_Mac/TICDemo_Mac.xcworkspace/xcshareddata
*.iml
local.properties
Podfile.lock
PaaS/Source/iOS/Demo/TICDemo/TICDemo.xcworkspace/xcshareddata
