{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "ie": "9",
          "edge": "17",
          "firefox": "60",
          "chrome": "40",
          "safari": "11.1"
        },
        "useBuiltIns": "usage"
      }
    ]
  ]
}